$button-color: #2e2d39;
$button-border-color: #ffd0aa;
$display-color: #2e2d39;
$font-color: #2e2d39;
$function-button-color: #bcbcbe;
$special-button-color: #795af5;
$font-size: 60px;
$mobile-fontsize: 16px;
$font-family: "JetBrains Mono", monospace;
$rainbow: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
