$button-color: #801616;
$button-border-color: #FFD0AA;
$display-color: #550000;
$font-color: #AA3939;
$button-font-color: #ffbb83;
$font-size: 18px;
$font-family: "JetBrains Mono", monospace;
$rainbow: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);