@font-face {
  font-family: "The Led Display St";
  src: url(../fonts/transfonter.org-20210209-182134/TheLedDisplaySt.eot);
  src: url(../fonts/transfonter.org-20210209-182134/TheLedDisplaySt.eot) format("embedded-opentype"), url(../fonts/transfonter.org-20210209-182134/TheLedDisplaySt.woff2) format("woff2"), url(../fonts/transfonter.org-20210209-182134/TheLedDisplaySt.woff) format("woff"), url(../fonts/transfonter.org-20210209-182134/TheLedDisplaySt.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 16px;
  }

  .button {
    height: 40px;
  }
}
.fas {
  background: transparent;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd0aa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(288) scale(0.21)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23795AF5' stroke-width='50.5' d='M-1-1h2v2h-2z'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='50' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .calculator-body {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: #2e2d39;
  z-index: 200;
}
body .calculator-buttons {
  position: inherit;
  margin: auto;
  height: 80%;
  width: auto;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: #2e2d39;
  border-radius: 20px;
  z-index: 200;
}
body .results-input {
  grid-column-start: 1;
  grid-column-end: 5;
}
body .results-input .display {
  width: 100%;
  height: 100px;
  background: #2e2d39;
  color: #ffd0aa;
  border: none;
  text-align: right;
  padding: 10px;
  font-family: "The Led Display St";
}

.button {
  display: inline-block;
  height: auto;
  width: auto;
  border: none;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  background: #2e2d39;
  color: #ffd0aa;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.function-button {
  background: #bcbcbe;
  color: #92140c;
}

.clear-button {
  background: #795af5;
}

#equals-button {
  grid-column-start: 3;
  grid-column-end: 5;
  background: #795af5;
}

#reset-button {
  grid-row-start: 1;
  grid-row-end: 3;
}

button > * {
  pointer-events: none;
}

.hidden {
  display: none;
}

h1 {
  font-family: "The Led Display St";
  font-size: 144px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  text-align: center;
  background: red;
  background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: rainbowShimmer;
  animation-timing-function: linear;
  -webkit-backface-visibility: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes rainbowShimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100em 0;
  }
}
@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0.3) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0.5) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, #f0a161 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #ffd0aa 99%, #fff 100%, #fff 100%);
  }
}
button:active {
  /* set time duration to your needs */
  animation: gradient 200ms;
  background: #ffd0aa;
  color: #2e2d39;
  box-shadow: none;
}